.FeedBack {
  align-items: center;
  background-color: #264653;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(99, 97, 97);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  min-height: 500px;
  width: 85vw;
}

.feedback-container {
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  padding: 20px;
  width: 85%;
}

.fb-h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.fb-h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.fb-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.fb-buttons-container button {
  background-color: #2a9d8f;
  border: 3px solid #2a9d8f;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 800;
  margin: 8px;
  padding: 5px;
  transition-duration: 0.4s;
  width: 70%;
}

.fb-buttons-container button:hover {
  background-color: rgb(224, 224, 224);
  color: black;
  transform: scale(1.1);
}

@media screen and ( min-width : 500px ) {

  .fb-h1 {
    font-size: 38px;
  }

  .fb-h2 {
    font-size: 20px;
  }

  .fb-buttons-container button {
    width: 50%;
  }
}

@media screen and ( min-width : 1000px ) {

  .FeedBack {
    width: 60vw;
  }

  .fb-buttons-container button {
    width: 40%;
  }
}

@media screen and ( min-width : 1500px ) {

  .FeedBack {
    height: calc(100vh - 150px - 50px - 50px);
    margin: 50px auto;
    min-width: none;
    width: 50vw;
  }

  .fb-h1 {
    font-size: 45px;
  }

  .fb-h2 {
    font-size: 24px;
  }

  .fb-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .fb-buttons-container button {
    font-size: 20px;
    margin: 15px 12px;
    padding: 8px;
    width: 30%;
  }
}
