.Feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.feedback-container {
  align-items: center;
  background-color: #264653;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  height: 85%;
  margin: auto;
  padding: 20px;
  width: 85%;
}

.feedback-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}

.feedback-text-container {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
  padding: 10px;
  width: 95%;
}

.fb-h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.fb-h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.fb-buttons-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 20%;
  justify-content: center;
  width: 100%;
}

.fb-buttons-container button {
  background-color: #2a9d8f;
  border: 3px solid #2a9d8f;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 800;
  margin: 8px;
  padding: 5px;
  transition-duration: 0.4s;
  width: 40%;
}

.fb-buttons-container button:hover {
  background-color: rgb(224, 224, 224);
  color: black;
  transform: scale(1.1);
}

@media screen and ( min-width : 500px ) {

  .fb-h1 {
    font-size: 38px;
  }

  .fb-h2 {
    font-size: 20px;
  }
}

@media screen and ( min-width : 1000px ) {

  .feedback-container {
    padding: 30px;
  }

  .feedback-box {
    border: 3px solid #022433;
  }

  .feedback-text-container {
    width: 80%;
  }

  .fb-h1 {
    font-size: 45px;
  }

  .fb-h2 {
    font-size: 28px;
  }
}

@media screen and ( min-width : 1500px ) {


  .feedback-container {
    border-radius: 30px;
    padding: 40px;
  }

  .feedback-text-container {
    border-radius: 20px;
  }

  .fb-h1 {
    font-size: 50px;
  }

  .fb-h2 {
    font-size: 30px;
  }

  .fb-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .fb-buttons-container button {
    border-radius: 10px;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    width: 30%;
  }
}
