.Ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title-container {
  align-items: center;
  background-color: #264653;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(92, 92, 92);
  display: flex;
  flex-direction: column;
  height: 22%;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
}

.ranking-title {
  background-color: #c9c9c9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  font-size: 35px;
  padding: 5px 15px;
}

.home-button {
  background-color: #2a9d8f;
  border: 3px solid #2a9d8f;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 800;
  padding: 3px 10px;
  transition-duration: 0.4s;
}

.home-button:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.1);
}

.ranking-container {
  align-items: center;
  background-color: #264653;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(99, 97, 97);
  display: flex;
  flex-direction: column;
  height: 65%;
  margin: auto;
  overflow-y: auto;
  padding: 15px;
  width: 85%;
}

.loading-ranking-gif {
  margin: auto;
}

.rank-card {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
  width: 100%;
}

.rank-img {
  border-bottom-left-radius: 10px;
  border-right: 4px solid black;
  border-top-left-radius: 10px;
  height: 75px;
  width: 75px;
}

.rank-name {
  font-size: 20px;
  text-align: center;
}

.rank-score {
  align-items: center;
  border-left: 4px solid black;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  min-width: 65px;
}

::-webkit-scrollbar {
  margin-right: 10px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}

@media screen and ( min-width : 500px ) {

  .ranking-title {
    font-size: 45px;
    padding: 5px 50px;
  }

  .home-button {
    font-size: 22px;
    padding: 3px 20px;
  }

  .ranking-container {
    padding: 10px;
    width: 80%;
  }

  .rank-card {
    margin: 35px;
    width: 85%;
  }

  .rank-img {
    height: 100px;
    width: 100px;
  }

  .rank-name {
    font-size: 28px;
  }

  .rank-score {
    font-size: 24px;
    min-width: 80px;
  }
}

@media screen and ( min-width : 1000px ) {

  .title-container {
    height: 25vh;
  }

  .ranking-title {
    font-size: 55px;
    padding: 5px 75px;
  }

  .rank-img {
    height: 120px;
    width: 120px;
  }

  .rank-name {
    font-size: 32px;
  }

  .rank-score {
    font-size: 28px;
    min-width: 100px;
  }
}

@media screen and ( min-width : 1500px ) {

  .ranking-title {
    font-size: 65px;
    padding: 5px 120px;
  }

  .home-button {
    font-size: 25px;
    padding: 3px 50px;
  }
}

@media ( orientation : landscape ) {

  @media screen and ( max-width : 800px ) {

    .title-container {
      height: 28%;
      padding: 0.5%;
      width: 80%;
    }

    .ranking-title {
      font-size: 30px;
      margin: auto;
      padding: 5px 25px;
    }

    .home-button {
      font-size: 16px;
      margin: auto;
    }

    .ranking-container {
      width: 90%;
    }

    .rank-card {
      margin: 15px;
    }

    .rank-img {
      height: 65px;
      width: 65px;
    }
  }
}
