.container-form {
  align-items: center;
  background-color: #264653;
  border-radius: 10px;
  display: flex;
  font-weight: 900;
  justify-content: center;
  margin: auto;
  max-width: 80vw;
  padding: 20px;
  transition-duration: 0.4s;
}

.container-form-box {
  border: 3px solid #022433;
  height: 100%;
}

.container-form-header {
  margin: 24px 0 12px;
  text-align: center;
}

.trivia-logo {
  width: 95%;
}

.container-form-main {
  padding: 16px;
  text-align: center;
}

.container-form-main-label1-input1, .container-form-main-label2-input1 {
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 800;
  margin: 8px 0;
  padding: 12px 20px;
  text-align: center;
  width: 90%;
}

.container-form-main-label1-input1::placeholder {
  text-align: center;
}

.container-form-main-label2-input1::placeholder {
  text-align: center;
}

.container-form-main-button1, .container-form-main-button2 {
  background-color: #2a9d8f;
  border: 3px solid #2a9d8f;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 800;
  margin: 15px 12px;
  padding: 8px;
  transition-duration: 0.4s;
  width: 60%;
}

.container-form-main-button1:hover, .container-form-main-button2:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.1);
}

@media screen and ( min-width : 500px ) {

  .trivia-logo {
    width: 85%;
  }

  .container-form-main-label1-input1, .container-form-main-label2-input1 {
    font-size: 20px;
  }

  .container-form-main-button1, .container-form-main-button2 {
    font-size: 16px;
    width: 40%;
  }
}

@media screen and ( min-width : 1000px ) {

  .trivia-logo {
    width: 75%;
  }

  .container-form-main-label1-input1, .container-form-main-label2-input1 {
    font-size: 24px;
  }

  .container-form-main-button1, .container-form-main-button2 {
    font-size: 20px;
    width: 35%;
  }
}

@media screen and ( min-width : 1500px ) {

  .trivia-logo {
    width: 65%;
  }
}
