.Header {
  align-items: center;
  background-color: #264653;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(92, 92, 92);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.player-img {
  border: 4px solid #c9c9c9;
  border-radius: 100%;
  margin: 10px 60px;
  width: 160px;
}

.player-name {
  background-color: #c9c9c9;
  border-radius: 15px;
  margin: 0 25px;
  padding: 13px 40px;
}

.player-score {
  background-color: #c9c9c9;
  border-radius: 12px;
  margin: 5px;
  padding: 8px 25px;
  text-align: center;
  width: 210px;
}

.player-score span {
  font-weight: 800;
}

.modal-off {
  display: none;
}

.modal-on {
  background-color: red;
  height: 30vw;
  position: relative;
  top: 100px;
  width: 30vw;
}
