.Header {
  align-items: center;
  background-color: #264653;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(92, 92, 92);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.player-img {
  border: 2px solid #c9c9c9;
  border-radius: 100%;
  margin: 10px;
  width: 80px;
}

.player-name {
  background-color: #c9c9c9;
  border-radius: 15px;
  font-size: 18px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 130px;
}

.player-score {
  background-color: #c9c9c9;
  border-radius: 12px;
  font-size: 15px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.player-score span {
  font-weight: 800;
}

.modal-off {
  border-radius: 25px;
  opacity: 0;
  position: absolute;
}

.modal-on {
  align-items: center;
  background-color: #264653;
  border: 1px solid black;
  border-radius: 25px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 10vw;
  opacity: 1;
  position: absolute;
  transition-duration: 0.4s;
  width: 15vw;
  z-index: 1;
}

.close-modal-btn {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 900;
  margin: 10px;
  position: absolute;
  right: 7px;
  width: 10%;
}

.modal-text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-around;
  margin: auto;
}

.modal-title {
  border-radius: 10px;
  color: whitesmoke;
  font-size: 27px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 70%;
}

.modal-title:hover {
  background-color: whitesmoke;
  color: black;
}

.modal-p {
  font-size: 20px;
  padding: 12px;
  text-align: center;
}

@media screen and ( min-width : 500px ) {

  .player-img {
    border-width: 4px;
    margin: 10px 25px;
    width: 120px;
  }

  .player-name {
    font-size: 23px;
    padding: 13px 20px;
    width: 180px;
  }

  .player-score {
    font-size: 18px;
    margin: 0 25px;
    padding: 8px 20px;
    width: 150px;
  }
}

@media screen and ( min-width : 1000px ) {

  .player-img {
    margin: 10px 60px;
    width: 160px;
  }

  .player-name {
    font-size: 35px;
    padding: 13px 30px;
    width: auto;
  }

  .player-score {
    font-size: 22px;
    margin: 0 60px;
    padding: 8px 25px;
    width: 250px;
  }
}

@media screen and ( min-width : 1500px ) {

  .player-name {
    font-size: 40px;
    padding: 13px 40px;
    width: auto;
  }
}
