.loading-container {
  height: 30%;
  margin: 0 auto;
}

.loading-gif {
  height: 100%;
}

.password-container {
  display: flex;
  flex-direction: column;
}

.edit-password {
  margin: 10px auto;
  padding: 8px;
  width: 80%;
}
