.loading-container {
  height: 30%;
  margin: 0 auto;
}

.loading-gif {
  height: 100%;
}

.password-container {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.edit-password {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.edit-password::placeholder {
  text-align: center;
}
