.Header {
  align-items: center;
  background-color: #264653;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(92, 92, 92);
  display: flex;
  height: 25%;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

.player-img-container {
  border: 2px solid #c9c9c9;
  border-radius: 100%;
  height: 90%;
  margin: 3% 1%;
}

.player-img {
  border-radius: 100%;
}

.player-name {
  background-color: #c9c9c9;
  border-radius: 15px;
  font-size: 18px;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.player-score {
  background-color: #c9c9c9;
  border-radius: 12px;
  font-size: 14px;
  margin: 3% 1%;
  padding: 5px;
  text-align: center;
  width: 15%;
}

.player-score span {
  font-weight: 800;
}

.modal-off {
  border-radius: 25px;
  opacity: 0;
  position: absolute;
}

.modal-on {
  align-items: center;
  background-color: #264653;
  border: 1px solid #1a2f38;
  border-radius: 25px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  left: 10px;
  opacity: 1;
  position: absolute;
  transition-duration: 0.4s;
  width: 80%;
  z-index: 1;
}

.close-modal-btn {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 900;
  margin: 10px;
  position: absolute;
  right: 7px;
  width: 10%;
}

.modal-text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-around;
  margin: auto;
}

.modal-title {
  border-radius: 10px;
  color: whitesmoke;
  font-size: 27px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 70%;
}

.modal-title:hover {
  background-color: whitesmoke;
  color: black;
}

.modal-p {
  font-size: 15px;
  padding: 12px;
  text-align: center;
}

@media ( orientation : landscape ) {

  @media screen and ( min-width : 500px ) {

    .player-img {
      border-width: 4px;
    }

    .player-name {
      font-size: 23px;
      padding: 13px 20px;
    }
  }

  @media screen and ( min-width : 1000px ) {

    .player-img {
      margin: 10px 60px;
    }

    .player-name {
      font-size: 35px;
      padding: 13px 30px;
      width: auto;
    }

    .player-score {
      font-size: 22px;
      padding: 8px 25px;
      width: 250px;
    }

    .modal-on {
      height: 10vw;
      width: 30vw;
    }

    .modal-p {
      font-size: 20px;
      padding: 12px;
      text-align: center;
    }
  }

  @media screen and ( min-width : 1500px ) {

    .player-name {
      font-size: 40px;
      padding: 13px 40px;
      width: auto;
    }
  }
}
