.Loading {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.logo-img {
  margin: 40px auto auto;
  width: 95%;
}

.loading-pg-container {
  background-color: #264653;
  border-radius: 10px;
  height: 70%;
  margin: auto;
  padding: 20px;
  width: 90%;
}

.loading-pg-box {
  align-items: center;
  border: 3px solid #022433;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.loading-pg-gif {
  margin: auto;
  width: 70%;
}
