.Question {
  align-items: center;
  background-color: #264653;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(99, 97, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 500px;
  width: 95vw;
}

.question-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 40%;
  padding: 10px;
  width: 100%;
}

.rotated-card-1 {

  /* stylelint-disable-next-line max-line-length */
  background-image: linear-gradient(0deg, rgb(224, 224, 224), #ffc83c);
  border-radius: 15px;
  box-shadow: 1px 2px 2px 1px black;
  margin: auto;
  min-height: 50%;
  transform: rotate(-4deg);
  width: 70%;
}

.rotated-card-2 {
  background-image: linear-gradient(0deg, rgb(224, 224, 224), #ffc83c);
  border-radius: 15px;
  box-shadow: 1px 2px 2px 1px black;
  height: 100%;
  transform: rotate(6deg);
  width: 100%;
}

.rotated-card-3 {
  background-image: linear-gradient(0deg, rgb(224, 224, 224), #ffc83c);
  border-radius: 15px;
  box-shadow: 1px 2px 2px 1px black;
  height: 100%;
  transform: rotate(-4deg);
  width: 100%;
}

.question-card {
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  box-shadow: 1px 2px 2px 1px black;
  height: 100%;
  transform: rotate(2deg);
  width: 100%;
}

.question-card > * {
  align-items: center;
  display: flex;
  justify-content: center;
}

.category {
  background-color: #ffc83c;
  border-bottom: 3px solid #264653;
  border-radius: 15px;
  border-top: 1px solid #b4b4b4;
  font-size: 23px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.question {
  font-size: 20px;
  height: 65%;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.timer {
  background-color: #c5c7c3;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 black;
  font-size: 22px;
  font-weight: 800;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  transition-duration: 0.4s;
  width: 60px;
}

.timer-ending {
  color: rgb(219, 31, 31);
  font-size: 25px;
}

.buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.answer {
  background-color: #2a9d8f;
  border: 3px solid #2a9d8f;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 17px;
  font-weight: 800;
  margin: 5px 0;
  padding: 4px;
  transition-duration: 0.4s;
  width: 95%;
}

.answer:hover {
  background-color: rgb(224, 224, 224);
  color: black;
  transform: scale(1.1);
}

.correct-answer {
  background-color: #548c2f;
  border: 3px solid #3e6822;
  color: whitesmoke;
  cursor: not-allowed;
  opacity: 0.3;
}

.correct-answer:hover {
  transform: scale(1);
}

.wrong-answer {
  background-color: #e76f51;
  border: 3px solid rgb(166, 13, 13);
  color: whitesmoke;
  cursor: not-allowed;
  opacity: 0.3;
}

.wrong-answer:hover {
  transform: scale(1);
}

.selected-answer {
  opacity: 1;
}

.next-button {
  background-color: #2a9d8f;
  border: 3px solid #2a9d8f;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 800;
  margin: 10px 0;
  min-width: 30%;
  padding: 4px;
  transition-duration: 0.4s;
}

.next-button:hover {
  background-color: rgb(224, 224, 224);
  color: black;
  transform: scale(1.1);
}

@media screen and ( min-width : 500px ) {

  .Question {
    flex-direction: row;
    height: calc(100vh - 150px - 50px - 50px);
    margin: 50px auto;
    min-height: auto;
    width: 90vw;
  }

  .question-container {
    flex-direction: column;
    height: 100%;
    width: 60%;
  }

  .rotated-card-1 {
    width: 85%;
  }

  .category {
    font-size: 28px;
    padding: 18px 10px;
  }

  .question {
    font-size: 24px;
    padding: 10px 35px;
  }

  .timer {
    font-size: 28px;
    padding: 15px;
    width: 80px;
  }

  .timer-ending {
    font-size: 32px;
    padding: 10px;
  }

  .vl {
    background-color: black;
    border-radius: 10px;
    height: 85%;
    width: 5px;
  }

  .buttons-container {
    flex-direction: column;
    margin-top: 0;
    width: 40%;
  }

  .answer {
    font-size: 20px;
    margin: 15px 12px;
    padding: 8px;
    width: 80%;
  }

  .next-button {
    margin: 15px 12px;
    padding: 8px;
  }
}

@media screen and ( min-width : 1500px ) {

  .Question {
    width: 70vw;
  }

  .category {
    font-size: 35px;
    padding: 22px 10px;
  }
}
